 body{
    background-color: rgb(226, 226, 226);
}  
/* 
div{
    background-color: rgb(255, 255, 255); 
    
} */

/* .bg{
    padding: 1px;
    border: 1px solid;
     
    
}*/

/* ul>li{
    display: inline;
    padding-right: 10px;
    }  */

 
